<div hx-target="this" class="p-2 border rounded-lg inline-flex gap-2 my-2 bg-gray-200">
  {% if task.status == "TODO" %}
  <p class="font-semibold text-green-500"
  {% elif task.status == "DOING" %}
  <p class="font-semibold text-yellow-500"
  {% elif task.status == "DONE" or task.status == "CANCELED" %}
  <p class="font-semibold text-gray-500"
  {% endif %}
     hx-post="{% url 'tasks:task-set-circular-next-status' task.id %}"
     hx-swap="outerHTML">
    {{ task.status }}
  </p>

  <p class="font-semibold"
     hx-post="{% url 'tasks:task-detailed' task.id %}"
     hx-swap="outerHTML">
     {{ task.name }}
  </p>

  <p>{{ task.description | truncatechars:40 }}</p>

  <button type="button"
	  hx-post="{% url 'tasks:task-update' task.id %}"
	  hx-swap="outerHTML"
	  class="inline-block px-5 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight
          uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700
          focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg
          transition duration-150 ease-in-out ml-auto">
    Update
  </button>
  <button type="button"
	  hx-post="{% url 'tasks:task-delete' task.id %}"
	  hx-swap="outerHTML"
	  class="inline-block px-5 py-1.5 bg-red-600 text-white font-medium text-xs leading-tight
          uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700
          focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg
          transition duration-150 ease-in-out">
    Delete
  </button>
</div>
