{% load tailwind_filters %}

<div hx-target="this" hx-swap="outerHTML">
  <form method="POST">
    {% csrf_token %}
    {{ task_form|crispy }}
    {% if task %}
      <button type="submit" hx-post="{% url 'tasks:task-update' task.id %}">Submit</button>
      <button hx-post="{% url 'tasks:task-item' task.id %}">Cancel</button>
    {% else %}
      <button type="submit" hx-post=".">Submit</button>
    {% endif %}
  </form>
</div>
