{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1 class="text-3xl font-bold text-center my-2">Tasks</h1>

  <button type="button"
	  hx-get="{% url 'tasks:create-task-form' %}"
	  hx-target="#task-items"
	  hx-swap="beforeend"
	  class="inline-block px-14 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight
          uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700
          focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg
          transition duration-150 ease-in-out mx-auto">
    Add a new task
  </button>

  <div id="task-items" class="flex flex-col">
    {% for task in tasks %}
      {% include "partials/task_item.html" %}
    {% endfor %}
  </div>
{% endblock %}
